<aside id="sidebar">

		<section class="widget">
			<h4 class="widgettitle">Checkout some compilations</h4>
			<ul>
				<li><a href="#">Morrisey's Desert Island Discs</a></li>
				<li><a href="#">Favourite Bob Dylan covers </a></li>
				<li><a href="#">High Fidelity soundtrack </a></li>
			</ul>
		</section>
		<!-- /.widget -->

		<section class="widget clearfix">
			<h4 class="widgettitle">Flickr</h4>
			<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8.&display=latest&size=s&layout=x&source=user&user=52839779@N02"></script> 
		</section>
		<!-- /.widget -->
						
</aside>
	<!-- /#sidebar -->


						
